@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Inter:wght@300;400;500;600;700;800;900&family=Itim&family=Khand:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    background: #0D0D0D;
    /* font-family: 'Grechen Fuemen', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Khand', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

section {
    overflow: hidden !important;
}

.btn-site {
    border-radius: 30px;
    background: #AB7130;
    display: inline-block;
    padding: 18px 60px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #AB7130;
    transition: .1s all ease-in-out;
}

.btn {
    position: relative;
    display: inline-block; 
    padding: 16px 60px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: #AB7130;
    border: 3px solid #AB7130;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid #AB7130;
    border-bottom: 3px solid #AB7130;
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid #AB7130;
    border-right: 3px solid #AB7130;
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: #AB7130;
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}

.btn-site:hover {
    background-color: transparent;
    color: #AB7130;
    border: 1px solid #AB7130; 
}

.hero-main {
    background-image: url('../images/hero-bg-1.png');
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-main .navbar .navbar-brand {
    color: #FFF; 
    font-family: 'Itim', cursive;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    pointer-events: none; 
}

  
 

.hero-main .navbar  .navbar-collapse {
    flex-grow: 0;
}


.hero-main .navbar .navbar-toggler {
    box-shadow: none;
    border: none;
    outline: none;
}

.hero-main .navbar .navbar-nav .nav-item .nav-link {
    color: #FFF; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 32px;
    position: relative;
}
 
 
.hero-main .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    margin: auto;
    background-color: #AB7130;
    transition: all 0.2s ease-in-out;
}

.hero-main .navbar .navbar-nav .nav-item .nav-link.active { 
    color: #AB7130;  
}
.hero-main .navbar .navbar-nav .nav-item .nav-link.active::after { 
    color: #AB7130;  
    width: 70%;
}
.hero-main .navbar .navbar-nav .nav-item .nav-link:hover::after { 
    width: 70%;
}

.hero-main .hero-main-wrapper {
    padding: 100px 20px;
}

.hero-main .hero-main-wrapper .hero-content span {
    color: #AB7130; 
    font-family: Grechen Fuemen;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
}

.hero-main .hero-main-wrapper .hero-content h1 {
    color: #FFF; 
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    margin-bottom: 32px;
}

.hero-main .hero-main-wrapper .hero-content h1 span {
    color: #AB7130;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.hero-main .hero-main-wrapper .hero-content p {
    color:#FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 418px;
    margin-bottom: 32px;
} 
.hero-main .hero-main-wrapper .hero-img {
    position: relative;
    z-index: 1;
}

.hero-main .hero-main-wrapper .hero-img::after {
    content: "";
    background-image: url('../images/hero-img-base.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5%;
    left: -7%;
    right: 0%;
    bottom: 0; 
    width:130%; 
    height: 100%;
    z-index: -1;
}
.hero-main .hero-main-wrapper .hero-img img {
    animation-name: rotate;
    animation-duration: 30s !important;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hero-main .navbar .search-bar {
    position: relative; 
}

.hero-main .navbar .search-bar .form-control {
    border-radius: 27px;
    background-color: transparent;
    border: 1px solid #AB7130; 
    height: 54px;
    /* max-width: 310px; */
    box-shadow: none;
    outline: none;
    color: #FFF; 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    
} 

.hero-main .navbar .search-bar .form-control::placeholder {
    color: #FFF; 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.hero-main .navbar .search-bar .icon-search {
    position: absolute;
    background-color: transparent;
    border: 0px;
    box-shadow: 0;
    outline: none;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}



.hero-main .navbar .search-bar .icon-search img {
    width: 25px;
} 

.hero-main  {
    position: relative;
}


.hero-main .box {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}
.hero-main .box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.hero-main .box span:nth-child(2) {
	animation-delay: -0.2s;
}

.hero-main .box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
} 


.about-us {
    padding: 120px 0;
}

.about-us .about-content span {
    color: #AB7130; 
    font-family: Grechen Fuemen;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 8px;
    display: inline-block;
}

.about-us .about-content h2 {
    color: #FFF;

    font-kerning: none;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    margin-bottom: 20px;
}

.about-us .about-content h2 span {
    color: #AB7130; 
    font-kerning: none;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
}

.about-us .about-content p {
    font-family: Poppins;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.about-us .about-content ul {
    margin-bottom: 45px;
}

.about-us .about-content ul li {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 20px;
}

.dishes-slider {
    width: 100%; 
    padding: 100px 0;

    background-image: url('../images/slider-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.dishes-slider .sec-heading span {
    color: #AB7130; 
    font-family: Grechen Fuemen;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    margin: 0 auto;
}

.dishes-slider .sec-heading {
    margin-bottom: 50px;
}

.dishes-slider .sec-heading h2 {
    color: #fff;
    font-kerning: none;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}  

.dishes-slider .slick-next:before {
    content: url("../images/slider-arrow-right.svg");
}

.dishes-slider .slick-prev:before {
    content: url("../images/slider-arrow-left.svg");
}

.dishes-slider .slick-slide {
    margin: 0 5px; /* Adjust the margin value as needed */
    cursor: pointer;
  
}

.dishes-slider .slick-slide:hover img {
    margin-top: -10px;
    transition: 2s all;
}
  

.dishes-slider .sec-heading h2 span {
    color: #AB7130;
    font-kerning: none;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.speciality {
    padding: 50px 0 100px 0;
    position: relative;
    z-index: 1;
}

.speciality:after {
    content: '';
    background-image: url('../images/noodle-spone.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: -1;
    opacity: 0.1;
}

.speciality .speciality-content span {
    color: #AB7130; 
    font-family: Grechen Fuemen;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 10px;
}

.speciality .speciality-content h3 {
    color: #FFF;  
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}


.speciality .speciality-content h3 span {
    color: #AB7130;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    display: inline-flex;
    line-height: 56px;
    margin-bottom: 32px;
}

.speciality .speciality-content p {
    color: #FFF;
    font-family: Khand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.text-sec {
    width: 100%;
    padding: 150px 0;  
}

.map { 
    background:  url('../images/japan-map.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.noodles { 
    background:  url('../images/sanuki.svg');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center center;
}

.text-sec h2 {
    color: #fff;
    font-kerning: none;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 40px;
}

.text-sec  h2 span {
    color: #AB7130; 
} 

.text-sec p {
    color: #FFF; 
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 171%; 
}

footer .footer-top {
    padding: 100px 0;
}

footer .footer-top .footer-column .footer-logo h1 {
    color: #FFF; 
    text-shadow: 19px 11px 10.1px #000;
    font-family: Itim;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

footer .footer-top .footer-column h5 {
    color:  #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}

footer .footer-top .footer-column ul li {
    margin-bottom: 16px;
}

footer .footer-top .footer-column ul li a {
    color: var(--fffffff, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

footer .footer-bottom {
    background-color: #AB7130;
    padding: 20px 0;
}

footer .footer-bottom p {
    margin-bottom: 0px;
    color: #ffffff; 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    }

/* Responsive media queries */

@media only screen and (max-width: 600px) {
    .hero-main {
        padding: 20px 0;
    }

    .text-sec {
        padding: 50px 0 ;
    }
}

@media only screen and (max-width: 768px) {
    .hero-main {
        overflow-x: hidden !important;
    }

    .slick-arrow {
        display: none !important;
    }

    
}

@media only screen and (max-width: 992px) {
    .hero-main .navbar .navbar-nav .nav-item .nav-link::after {
        margin: 0 0;
        width: 100%;
    }
    .hero-main .navbar .navbar-nav .nav-item .nav-link.active::after { 
        color: #AB7130;  
        width: 100%;
    }
    .hero-main .navbar .navbar-nav .nav-item .nav-link:hover::after { 
        width: 70%;
    }
}